* {
    text-align: center;
}

#mainheading, footer {
    background-color: cornflowerblue;
    color: white;
    margin: 0px;
    padding: 20px;
}

#mainheading a {
    color: white;
}

ul, ol {
    list-style-position: inside;
}

